ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden; 
}

li {
  display: inline-block;
}
li a {
  text-align: center;
  padding: 0 16px;
  text-decoration: none;
}

li a:hover {
  color:bisque;
}
.right {
  position: absolute;
  right: 20px;
}
footer a{color:#fff}
footer {
  width: 100%;
  display: flex;
  padding: 20px 0;
  background-color: #000;
  color: #fff;
}
